/* h1{
    color: red;
}
p{
    color:aqua;
}
h2{
    color:blue
}
#first{
    color:blueviolet;
}
#second{
    color: aquamarine;
}
.class{
    color:aquamarine;
}
h1,h2,h3{
    color:blue
} */
#first p{
    
}